.b-palete {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 2px gray;

    &__item {
        display: inline-block;
        width: 10px;
        height: 10px;
        color: #fff;
        transition: box-shadow ease 0.15s;

        &:hover {
            box-shadow: 0 0 0 5px;
        }
    }
}
