.palette__item {
    $size: 10%;

    position: relative;
    float: left;
    padding-bottom: $size;
    min-width: 50px;
    width: $size;
    border-radius: 0;
    color: #fff;
    transition: border-radius 0.5s ease 0s,
                transform 0.25s ease 0s;
    transform: scale(1);
}
