backgroundColor = rgba(255, 255, 255, 0.5);
textBorderColor = rgba(255, 255, 255, 0.5);
borderRadius = 3px;

.palette-selected-color__name {
    float: left;
    padding: 0 5px;
    border-radius: borderRadius borderRadius 0 0;
    background-color: backgroundColor;
    color: #333;
    text-shadow: 0 1px 0 textBorderColor;
    font-family: monospace;
}
